@charset "UTF-8";
:root {
  --color-main: #4D9600;
}

/* -------------
base
---------------*/
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "MS PMincho", serif;
  font-weight: 500;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5625;
  letter-spacing: 0;
  margin: 0;
}

body.is-nav-open {
  overflow: hidden;
}

/* -------------
common
---------------*/
/* PC.SPの非表示 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
.inner {
  max-width: 920px;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  cursor: pointer !important;
}

.sp_only {
  display: none;
}
@media (max-width: 767px) {
  .sp_only {
    display: inline;
  }
}

.pc-br {
  display: block;
}
@media (max-width: 767px) {
  .pc-br {
    display: none;
  }
}

.section-title {
  display: block;
  text-align: center;
  line-height: 1;
}
.section-title__en {
  font-size: 2.7777777778vw;
  letter-spacing: 0.3em;
  color: var(--color-main);
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section-title__en {
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0.3em;
  }
}
.section-title__ja {
  font-size: 1.8518518519vw;
  letter-spacing: 0.3em;
  color: #000;
  margin-top: 14px;
}
@media (max-width: 767px) {
  .section-title__ja {
    font-size: 2rem;
    line-height: 1.65;
    letter-spacing: 0.3em;
    margin-top: 6px;
  }
}

/* -------------
header
---------------*/
.header {
  padding-inline: 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header.is-scrolled {
  background-color: #fff;
}
.header.is-scrolled .header__logo a {
  color: var(--color-main);
}
.header.is-scrolled .header__nav.pc ul li a {
  color: var(--color-main);
}
.header.is-scrolled .hamburger span {
  background: var(--color-main);
}
.header .inner {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media (max-width: 767px) {
  .header .inner {
    height: 50px;
  }
}
.header .header__logo a {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 2rem;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  transition: opacity 0.4s, color 0.4s;
}
@media (min-width: 768px) and (hover: hover) {
  .header .header__logo a:hover {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .header .header__logo a {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .header .header__nav.pc {
    display: none;
  }
}
.header .header__nav.pc ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .header__nav.pc ul li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  transition: opacity 0.4s, color 0.4s;
}
.header .header__nav.pc ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
@media (min-width: 768px) and (hover: hover) {
  .header .header__nav.pc ul li a:hover {
    opacity: 0.7;
  }
  .header .header__nav.pc ul li a:hover::after {
    transform: scaleX(1);
  }
}
.header .header__nav.pc ul li a.is-active::after {
  transform: scaleX(1);
}

/* =====================
  ハンバーガーボタン
===================== */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 72px;
  height: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
  z-index: 1100;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}
.hamburger span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 4px;
  background: #4D9600;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.hamburger span:nth-of-type(1) {
  top: 28%;
}
.hamburger span:nth-of-type(3) {
  top: 72%;
}
.hamburger.is-active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.is-active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* =====================
  SPメニュー
===================== */
.header-menu {
  position: fixed;
  top: 50px;
  right: 0;
  width: 300px;
  height: 348px;
  padding-block: 12px;
  padding-left: 20px;
  background-color: #4D9600;
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 1050;
}
.header-menu.is-open {
  transform: translateX(0);
}
.header-menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.header-menu ul li:not(:first-of-type) {
  margin-top: 25px;
}
.header-menu ul li a {
  font-size: 2rem;
  color: #fff;
}

/* =====================
  オーバーレイ
===================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  z-index: 1040;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
}

/* =====================
body
===================== */
body.is-nav-open {
  overflow: hidden;
}

/* =====================
FV
===================== */
.slide-area {
  position: relative;
  height: 93vh;
}
@media (max-width: 767px) {
  .slide-area {
    height: 87vh;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.fv__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .fv__contents {
    padding-top: 14px;
  }
}

.fv__catch h2 {
  color: #fff;
  font-size: 3.7037037037vw;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
}
@media (max-width: 767px) {
  .fv__catch h2 {
    font-size: 8vw;
    line-height: 2;
  }
}

/* =====================
about
===================== */
#about {
  position: relative;
}

.about__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 303px;
}
@media (max-width: 767px) {
  .about__contents {
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .vertical {
    display: flex;
    flex-direction: row;
    gap: 23px;
  }
}
.vertical h2 {
  font-size: 2.7777777778vw;
  line-height: 1;
  letter-spacing: 0.15em;
}
@media (max-width: 767px) {
  .vertical h2 {
    font-size: 6.6666666667vw;
    line-height: 11.7;
    letter-spacing: 0.5rem;
  }
}
.vertical p {
  font-size: 1.6666666667vw;
  line-height: 2.66;
  letter-spacing: 0.38em;
  white-space: pre-line;
}
@media (max-width: 767px) {
  .vertical p {
    font-size: 4.2666666667vw;
    line-height: 1.65;
    letter-spacing: 0.25em;
    margin-right: 0;
    gap: 30px;
  }
}

/* =====================
  service
   ===================== */
#service {
  padding-block: 80px 95px;
  padding-inline: 30px;
  background-color: rgba(75, 150, 0, 0.1);
}
@media (max-width: 767px) {
  #service {
    padding-block: 50px;
  }
}

.service__item {
  display: flex;
  position: relative;
  margin-top: 72px;
  padding-bottom: 3.8%;
}
.service__item:nth-of-type(4) {
  margin-top: 99px;
}
@media (max-width: 767px) {
  .service__item {
    display: block;
    margin-top: 38px;
    padding-bottom: 0;
    font-size: 1.6rem;
    line-height: 2.0625;
    letter-spacing: 0.3rem;
  }
  .service__item:nth-of-type(4) {
    margin-top: 44px;
  }
}

.service__image {
  width: 65%;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .service__image {
    width: 100%;
  }
}
.service__image img {
  display: block;
  width: 100%;
  height: auto;
}

.service__caption {
  margin-top: 19px;
}
@media (max-width: 767px) {
  .service__caption {
    display: block;
    color: #000;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 8px;
  }
}

.service__content {
  position: absolute;
  right: 0;
  top: 38%;
  width: 54%;
  z-index: 0;
  background: var(--color-main);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 50px 9px 42px 0;
}
@media (max-width: 767px) {
  .service__content {
    position: static;
    width: 100%;
    margin-top: 5px;
    padding: 20px 20px 12px 20px;
  }
}

.service_textbox {
  width: 50%;
}
@media (max-width: 767px) {
  .service_textbox {
    width: 100%;
  }
}
.service_textbox h3 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.32;
}
@media (max-width: 767px) {
  .service_textbox h3 {
    width: 100%;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: normal;
  }
}
.service_textbox p {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 19px;
  line-height: 1.5625;
}
@media (max-width: 767px) {
  .service_textbox p {
    position: static;
    width: 100%;
    margin-top: 18px;
    padding-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.5625;
    letter-spacing: normal;
  }
}
@media (max-width: 767px) {
  .service_textbox .pc-br {
    display: none;
  }
}

.service__item.service__item--reverse {
  justify-content: flex-end;
  margin-top: 99px;
}
@media (max-width: 767px) {
  .service__item.service__item--reverse {
    justify-content: flex-start;
    margin-top: 47px;
  }
}
.service__item.service__item--reverse .service__image p {
  text-align: right;
}
@media (max-width: 767px) {
  .service__item.service__item--reverse .service__image p {
    text-align: left;
  }
}
.service__item.service__item--reverse .service__content {
  left: 0;
  right: auto;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 49px 0 37px 41px;
}
@media (max-width: 767px) {
  .service__item.service__item--reverse .service__content {
    margin-top: 10px;
    padding: 20px 20px 12px 20px;
  }
}

/* =====================
  works
   ===================== */
#works {
  position: relative;
  z-index: 0;
  padding-block: 81px 96px;
}
@media (max-width: 767px) {
  #works {
    padding-block: 48px 40px;
    padding-inline: 30px;
  }
}

.works__items {
  position: relative;
  z-index: 0;
  display: flex;
  -moz-column-gap: 4.347826087%;
       column-gap: 4.347826087%;
  margin-top: 72px;
}
@media (max-width: 767px) {
  .works__items {
    width: 100%;
    flex-direction: column;
    gap: 19px;
    margin-top: 37px;
  }
}

.works-item__image img {
  aspect-ratio: 200/200;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .works-item__image img {
    aspect-ratio: 315/250;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.works-item__textarea {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .works-item__textarea {
    margin-top: 12px;
  }
}

.works-item__textarea p {
  margin-top: 8px;
  font-size: 1.6rem;
  line-height: 1.5625;
}

/* ===== サムネイル ===== */
.thumb {
  cursor: pointer;
  overflow: hidden;
}

.thumb picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.thumb:hover picture img {
  transform: scale(1.05);
}

/* ===== モーダルオーバーレイ ===== */
#modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  align-items: center;
  justify-content: center;
}
#modal-overlay.active {
  display: flex;
}

/* ===== モーダル本体 ===== */
#modal-box {
  position: relative;
  background: #fff;
  z-index: 100000;
  padding: 15px 15px 10px 15px;
  max-width: 450px;
  width: 90%;
  margin: 40px auto;
}

/* ===== 拡大画像 ===== */
#modal-img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

/* ===== 案件名 ===== */
.modal-text {
  margin-top: 8px;
}

/* ===== ✕ボタン ===== */
#modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  background: transparent;
}
#modal-close:hover {
  background: #f0f0f0;
}

/* =====================
  news
   ===================== */
#news {
  padding-block: 82px;
  padding-inline: 30px;
  background-color: rgba(75, 150, 0, 0.1);
}
@media (max-width: 767px) {
  #news {
    padding-block: 50px;
    padding-inline: 30px;
  }
}

.news__contents {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
@media (max-width: 767px) {
  .news__contents {
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-top: 39px;
  }
}

.news__items {
  width: 46.5%;
  background-color: #fff;
}
@media (max-width: 767px) {
  .news__items {
    width: 100%;
  }
}

.news__caption {
  background-color: #4D9600;
  color: #fff;
  padding: 9px 20px;
  font-size: 2rem;
  line-height: 1.65;
}

.news__content {
  padding-inline: 20px;
}

.news__item {
  display: flex;
  gap: 70px;
  padding-block: 14px;
  border-bottom: 1px solid #55A500;
  text-decoration: none;
}
@media (max-width: 767px) {
  .news__item {
    gap: 20px;
    padding-block: 14px 13px;
  }
}
.news__item time {
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 2.0625;
}
.news__item p {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  margin-top: 4px;
}
@media (max-width: 767px) {
  .news__item p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.news__content:first-of-type .news__item {
  padding-top: 25px;
}

.button_box {
  display: inline-block;
  position: relative;
}
.button_box a {
  position: absolute;
  top: 0;
  left: 0;
  color: #55A500;
  text-decoration: none;
  font-size: 2rem;
  z-index: 1;
}
.button_box img {
  display: block;
  width: 80px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 20px;
}

.news_button {
  padding-inline: 20px;
  font-size: 2rem;
  line-height: 1;
  color: #55A500;
  margin-left: auto;
  padding-top: 23px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .news_button {
    padding-top: 23px;
  }
}

/* -------------
company
/* ---------------*/
#company {
  padding-block: 80px 140px;
}
@media (max-width: 767px) {
  #company {
    padding: 53px 30px 50px;
  }
}

.company__item {
  display: flex;
  margin-top: 68px;
  position: relative;
}
@media (max-width: 767px) {
  .company__item {
    display: block;
    margin-top: 10px;
  }
}

.company__map {
  width: 65%;
  z-index: 1;
}
@media (max-width: 767px) {
  .company__map {
    width: 100%;
    height: 100%;
    margin-top: 37px;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  height: auto;
  aspect-ratio: 600/400;
}
@media (max-width: 767px) {
  iframe {
    height: auto;
    aspect-ratio: 315/300;
  }
}

.company__content {
  position: absolute;
  right: 0;
  top: 50%;
  width: 54%;
  z-index: 0;
  background: var(--color-main);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 50px 59px 42px 0;
}
@media (max-width: 767px) {
  .company__content {
    position: static;
    width: 100%;
    margin-top: 13px;
    padding: 20px 20px 12px 21px;
  }
}

.company_textbox {
  width: 50%;
}
@media (max-width: 767px) {
  .company_textbox {
    width: 100%;
  }
}
.company_textbox h3 {
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .company_textbox h3 {
    letter-spacing: normal;
  }
}

.company__address {
  margin-top: 7px;
  font-size: 1.6rem;
  line-height: 1.5625;
}

.company__tell {
  display: block;
  margin-top: 14px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .company__tell {
    margin-top: 11px;
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}
.company__tell {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.company__tell span,
.company__tell a {
  font-size: 2.5rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .company__tell .sp {
    display: none;
  }
}
@media (max-width: 767px) {
  .company__tell .pc {
    display: none;
  }
}
.company__email {
  display: inline-block;
  margin-top: 15px;
  font-size: 1.6rem;
  line-height: 1.5625;
}

.company__email a {
  font-size: 1.6rem;
  line-height: 1.5625;
  transition: opacity 0.4s;
}

@media (max-width: 767px) {
  .company__email a {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .company__email a:hover {
    opacity: 0.7;
  }
}
/* -------------
contact
/* ---------------*/
#contact {
  padding-block: 80px;
  padding-inline: 30px;
  background: rgba(77, 150, 0, 0.15);
}
@media (max-width: 767px) {
  #contact {
    padding-block: 50px;
  }
}
#contact .inner {
  max-width: 800px;
}

.contact__txt {
  margin-top: 45px;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .contact__txt {
    margin-top: 38px;
  }
}

.form__items {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 72px;
}
@media (max-width: 767px) {
  .form__items {
    gap: 0px;
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .form__item--row:nth-child(2) .form__label {
    width: 90px;
    min-width: 90px;
  }
}

/* 共通 */
.form__item {
  display: flex;
}
@media (max-width: 767px) {
  .form__item:nth-child(2) {
    margin-top: 35px;
  }
  .form__item:nth-child(3) {
    margin-top: 30px;
  }
  .form__item:nth-child(4) {
    margin-top: 30px;
  }
  .form__item:nth-child(5) {
    margin-top: 30px;
  }
  .form__item:nth-child(6) {
    margin-top: 20px;
  }
  .form__item:nth-child(7) {
    margin-top: 30px;
  }
}

.form-control {
  width: 100%;
  padding-block: 12px;
  padding-left: 20px;
  background: #fff;
}

.form-textarea {
  height: 200px;
  resize: vertical;
  margin-top: 10px;
}

.form__title {
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .form__title {
    line-height: 1.35;
  }
}

.form__label {
  width: 170px;
  min-width: 170px;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .form__label {
    width: 170px;
    min-width: 170px;
  }
}

.form-control::-moz-placeholder {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  color: #A0A0A0;
}

.form-control::placeholder {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  color: #A0A0A0;
}

/* 横並び */
.form__item--row {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .form__item--row {
    display: block;
  }
}

.form__items .form__item--row:nth-child(2) {
  /* 性別ラベルの幅も縮める */
}
@media (max-width: 767px) {
  .form__items .form__item--row:nth-child(2) {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .form__items .form__item--row:nth-child(2) .form__label {
    width: 90px;
  }
}

/* 縦並び */
.form__item--column {
  flex-direction: column;
}

/* ラジオボタン */
.form__radio-group {
  display: flex;
  gap: 74px;
}
@media (max-width: 767px) {
  .form__radio-group {
    gap: 45px;
  }
}
.form__radio-group label {
  display: flex;
  align-items: center;
}

input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 23px;
}
@media (max-width: 767px) {
  input[type=radio] {
    margin-right: 10px;
  }
}

input[type=radio]:checked {
  background-color: #000;
  border-color: #808000;
  box-shadow: inset 0 0 0 6px #fff; /* 内側に黒い円を描く */
}

/* 何を見て知りましたか*/
input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 20px;
}
@media (max-width: 767px) {
  input[type=checkbox] {
    margin-right: 12px;
  }
}

input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}

.form__checkbox-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* 折り返しを許可 */
  gap: 9px 0px;
}
@media (max-width: 767px) {
  .form__checkbox-group {
    gap: 6px 0px;
  }
}
.form__checkbox-group .form__checkbox-label {
  width: 25%; /* 4列（100% ÷ 4） */
  font-size: 1.8rem;
  line-height: 1.3888888889;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
@media (max-width: 767px) {
  .form__checkbox-group .form__checkbox-label {
    width: 50%; /* 2列（100% ÷ 2） */
    font-size: 1.6rem;
    line-height: 1.5625;
    margin-top: 0;
  }
}

/* 個人情報 */
.form__privacy-title {
  margin-bottom: 8px;
}

.privacy-content {
  background-color: #fff;
  padding: 40px 10px 40px 40px;
  box-sizing: border-box;
  position: relative;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .privacy-content {
    height: 323px;
    padding: 27px 10px 10px 33px;
  }
}

.privacy-content__scroll {
  height: 220px;
  overflow-y: scroll;
}
.privacy-content__scroll::-webkit-scrollbar {
  width: 10px;
}
.privacy-content__scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: -30px;
  margin-bottom: -30px;
}
.privacy-content__scroll::-webkit-scrollbar-thumb {
  background: #888;
  height: 30px;
  border-top: 5px solid #f1f1f1;
  border-bottom: 5px solid #f1f1f1;
  background-clip: padding-box;
}

.privacy-content__inner {
  font-size: 1.8rem;
  line-height: 1.7222222222;
  padding-right: 40px;
}
.privacy-content__inner h3 {
  margin-top: 30px;
}
.privacy-content__inner h3:first-child {
  margin-top: 0;
}

/* 送信ボタン */
.contact__button {
  text-align: center;
  margin-top: 31px;
}
@media (max-width: 767px) {
  .contact__button {
    margin-top: 46px;
  }
}

.form-submit {
  padding: 7px 60px;
  background: var(--color-main);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .form-submit {
    padding-block: 7px;
    width: 100%;
  }
}

/* -------------
footer
/* ---------------*/
footer {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__main {
  width: 100%;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__main {
    padding: 50px 20px;
  }
}

.footer__title {
  padding-bottom: 28px;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .footer__title {
    padding-bottom: 21px;
  }
}

.footer__nav {
  width: 100%;
  max-width: 722px;
  border-top: 1px solid #000;
  padding-top: 28px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .footer__nav {
    padding-top: 22px;
  }
}

.footer__nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .footer__nav ul {
    gap: 0px 10px;
    flex-wrap: wrap;
  }
}

.footer__nav ul a {
  line-height: 1.8333333333;
  transition: opacity 0.4s;
}

@media (max-width: 767px) {
  .footer__nav ul a {
    padding-inline: 10px;
    font-size: 1.8rem;
    line-height: 1.8333333333;
  }
}
@media (min-width: 768px) {
  .footer__nav ul a:hover {
    opacity: 0.7;
  }
}
.footer__copyright {
  width: 100%;
  background-color: var(--color-main);
  color: #fff;
  padding: 28px;
}
@media (max-width: 767px) {
  .footer__copyright {
    padding: 23px;
  }
}

.footer__copyright p {
  font-size: 2rem;
  line-height: 1.65;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__copyright p {
    font-size: 2rem;
    line-height: 1.25;
  }
}

.footer__sns {
  margin-top: 32px;
  gap: 18px;
}

@media (max-width: 767px) {
  .footer__sns {
    margin-top: 28px;
  }
}
.footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__sns li a {
  display: block;
  padding-inline: 6px;
  transition: opacity 0.4s;
}

@media (min-width: 768px) {
  .footer__sns li a:hover {
    opacity: 0.7;
  }
}
.footer__sns li a .x {
  width: 2.2rem;
}

.footer__sns li a .facebook {
  width: 2.2rem;
}

.footer__sns li a .youtube {
  width: 2.2rem;
}

.footer__sns li a .instagram {
  width: 2rem;
}
/*# sourceMappingURL=style.css.map */